<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>email.html</title>
</head>
<body>
    <div>
        안녕하세요 대박 주식회사입니다
    </div>

    <p>
        아래의 코드를 회원가입창으로 들어가서 입력해주세요
    </p>

    <h3>회원가입 인증코드</h3>
    <div th:text="${authNum}">

    </div>

</body>
</html>