<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form.html</title>
</head>
<body>
    <h3>form.html</h3>

    <form action="/sendMail/email" method="post">
        <label for="receiver">메일주소</label>
        <input type="text" name="receiver" id="receiver">
        <input type="submit" value="메일발송">
    </form>
</body>
</html>